{% extends 'base.html.twig' %}


{% block body %}
<div class="container"> 
Ce site est un concept hommage à l'émission strip-tease. vous y retrouverez des présentations de personnes provenant de tous horizons. 
</div>
{% endblock %}
