{% extends 'base.html.twig' %}

{% block title %}New Strip{% endblock %}

{% block body %}
    <h1>Create new Strip</h1>

    {{ include('strips/_form.html.twig') }}

    <a href="{{ path('app_strips_index') }}">back to list</a>
{% endblock %}
