{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
<p>Ceci est une page d'accueil qui accueille <br>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium tenetur libero iste soluta quas nam illum eos, itaque iure recusandae a amet, laborum porro eum ipsum aut debitis consequuntur alias?
Odit eligendi asperiores tempora vero! Non ipsa tempore distinctio, modi laboriosam delectus soluta accusantium dignissimos dolorum nemo? Similique aspernatur in sapiente iure quam tenetur, commodi facere ipsam dicta saepe repellat.
Neque rem reiciendis, numquam ratione quasi debitis, iure sequi omnis dolorum fugit amet quaerat architecto esse? Maiores, sapiente minus sed, eligendi nisi dicta incidunt aliquam dolor esse, porro saepe harum?
Dolor repellat consectetur dolorum numquam iure eos sequi? Possimus, distinctio! Quam quae, modi nihil sit nobis dignissimos quos molestiae iste repellendus mollitia, sunt autem nam magnam totam excepturi illum fugiat.
Facere, ipsam modi assumenda in nesciunt, itaque perspiciatis amet praesentium optio esse perferendis est officiis ratione alias, aliquid et repellendus culpa sed at quasi illum mollitia! Aperiam consequuntur debitis voluptatem?</p>
</div>
{% endblock %}
